<header class="principal">
    <div class="contenedorcito">
        <article>
            <a href="/productos">

                <img src="./images/logo.jpg" alt="logo" class="logo">
            </a>
        </article>
        <nav class="">
            <a href="/detalle_perfil">MI PERFIL</a>
            <a href="/login">CERRAR SESION</a>
            <img src="/images/perfil.jpg" class="perfil">
        </nav>
    </div>
    <form action="search-results.html" method="get">
        <div class="buscador">
            <input id="search" type="text" name="search" value="" placeholder="Buscar Productos...">
        </div>
    </form>
</header>