<%- include('./partials/head') %>
    <% if (locals.user) { %>
        <%- include('./partials/headerLogueado') %>
            <% } else { %>
                <%- include('./partials/header') %>
                    <% } %>
                        <div class="container products-wrapper">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="products-title">Agregar productos</h2>
                                </div>
                                <!-- Show the "ultimos" products -->
                                <form action="/productos/aniadir" method="post" class="registro">
                                    <label for="imagen">Imagen:</label>
                                    <input type="text" id="nombre" name="img"><br><br>

                                    <label for="usuario">Nombre del Producto:</label>
                                    <input type="text" id="nombre" name="nombre"><br><br>

                                    <label for="descripcion">Descripción:</label>
                                    <input type="text" id="descripcion" name="descripcion"><br><br>

                                    <label for="fecha_carga">Fecha de carga:</label>
                                    <input type="date" id="fecha_carga" name="cratedAT"><br><br>

                                    <input type="submit" value="Agregar Producto">
                                </form>
                            </div>
                        </div>
                        <%- include('./partials/footer') %>