<%- include('./partials/head') %>
    <%- include('./partials/header') %>

        <body>
            <form action="/users/login" method="GET" class="registro">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email"><br><br>

                <label for="usuario">Usuario:</label>
                <input type="text" id="usuario" name="usuario"><br><br>

                <label for="contraseña">Contraseña:</label>
                <input type="password" id="contraseña" name="contraseña"><br><br>

                <label for="fecha_nacimiento">Fecha de nacimiento:</label>
                <input type="date" id="fecha_nacimiento" name="fecha_nacimiento"><br><br>

                <label for="nro_documento">Número de documento:</label>
                <input type="number" id="nro_documento" name="nro_documento"><br><br>

                <label for="foto-de-perfil">Foto de perfil:</label>
                <input type="text" id="foto-de-perfil" name="foto-de-perfil"><br><br>

                <input type="submit" value="Enviar">
            </form>
        </body>
        <%- include('./partials/footer') %>